*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  width: 1400px;
  margin: 0 auto;
}

.container{
  width: 1024px;
  margin: 0 auto;
}