$regular: 'roboto_regular', sans-serif;
$bold: 'robotoslab_bold', sans-serif;
$light: 'robotoslab_light', sans-serif;
$robotoslab_regular: 'robotoslab_regular', sans-serif;

$primary-font: $regular;
$secundary-font: $robotoslab_regular;
$base-font-family: $primary-font;
$header-font-family: $base-font-family;


$color-black: #000;
$color-white: #fff;
$color-grey: #939393;
$color-grey2: #c6c6c6;
$color-grey3: #777777;
$color-grey4: #848484;


$color-facebook: #3b5997;
$color-twitter: #3ec2f3;
$color-googleplus: #e44c41;

$bg-grey: #373838;
$bg-grey1: #494949;
$bg-red: #9b242d;



$size14: em(14);
$size15: em(15);
$size18: em(18);
$size23: em(23);

