.row{
  @include clearfix;
}

.box{
  float: left;
  @include clearfix;
}

.box-logo,.box-image-tree{
  height: 316px;
}

.box-logo{
  float: left;
  width: 539px;
  text-align: right;
  padding-top: 128px;
  figure{
    margin-right: 48px;
  }
}

.box-image-tree{
  float: right;
  img{
    display: block;
  }
}

.box-donate{
  background: $bg-red;
  height: 316px;
  color: $color-white;
  padding-left: 44px;
  padding-top: 114px;
  h2{
    font-size: $size40;
    font-family: $bold;
  }
}

.newsletter{
  background: $bg-green;
}

.box-newsletter{
  height: 317px;
  width: 670px;
  float: right;
  text-align: right;
  padding-right: 80px;
  padding-top: 62px;
  @include clearfix;
  h2, p{
    color: $color-white;
  }
  h2{
    font-size: $size40;
    font-family: $bold;
    margin-bottom: 22px;
  }
  .content-form{
    @include clearfix;
    margin-bottom: 14px;
  }
  .form{
    width: 400px;
    height: 44px;
    float: right;
    input{
      height: 44px;
      color: $color-white;
      background: $bg-green3;
      @include placeholder {
        color: $color-green;
      }
    }
    .btn-form{
      width: 123px;
      height: 44px;
      background: $bg-green2;
      font-size: $size16;
      line-height: 16px;
    }
  }
}

.box-grass{
  img{
    display: block;
  }
}

.box-leaf{
  background: url("../../../images/leaf.jpg") no-repeat;
  background-size: 100%; 
  height: 634px;
  position: relative;
}

.box-like-facebook{
  background: $bg-blue;
  height: 317px;
  width: 320px;
  color: $color-white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  
  >div{
    margin-top: 122px;
  }
  .icon-facebook{
    font-size: $size80;
  }
  p{
    font-size: $size16;
    margin-top: 33px;
  }
}

.grid1{
  background: $color-white;
}
.size-medium{
  width: 860px;
}

.size-small{
  width: 540px;
}
